---
import Layout from "../layouts/LayoutIndex.astro";
---

<Layout title="H.Gata Profile">
  <h1>H.Gata's Profile</h1>
  <p>
    ようこそ。Gataのプロフィールページへ<br />
    こちらのページはまだ制作中となっております。
  </p>
  <img src="/astro/notes/img/hgataPortMono.png" width="200" class="p-4" alt="" />
  <p>※掲載写真は若い頃で現在と違います…</p>
</Layout>

<style>
  :root {
    @apply container m-4 mx-auto;
  }
  h1 {
    @apply text-4xl font-medium mb-4;
  }
</style>
